body 
{ 
    font-family: Arial; 
    padding: 20px; 
}
table 
{ 
    width: 100%; 
    border-collapse: collapse; 
}
th, td 
{ 
    border: 1px solid #ccc; 
    padding: 10px; 
    text-align: left; 
}
th 
{ 
    background-color: #007bff; 
    color: white; 
}

#table-container 
{
    width: 100%;
    height: 100%;
    overflow: auto;
}

#table-wrapper 
{
    zoom: 0.83; /* 83% size */
}
